/*
Table of Contents:
    General Page Styles
    Animations
    Hero
        Portrait
        Text
    Footer
*/

/* General Page Styles */
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Animations */
@keyframes scale-in {
    0% {
        transform: scale(0);
        padding-top: 50%;
    }

    75% {
        transform: scale(1.1);
        padding-top: 0;
    }

    100% {
        transform: scale(1);
    }
}

/* Hero */
.s-hero {
    height: 100vh;
    width: 100vw;
    max-width: 1400px;
    margin: 0;
    padding: 0;
    z-index: 1000;
    background-color: #2f615e;
}

/* Hero Portraits */
.hero-portrait {
    position: absolute;
    height: 60%;
    width: 60%;
    bottom: 0;
    right: 0;
    margin: 0;
    padding-bottom: 15%;
    padding-left: 15%;
    padding-top: 5%;
}

.portrait-photo {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
    background-image: url("../assets/portrait-quarter.png");
    background-size: cover;
    background-position: center;
    animation: scale-in 3s ease-in-out backwards;
    animation-delay: 1s;
}

.portrait-cutout-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 4;
    background-image: url("../assets/cutout-1-quarter.png");
    background-size: cover;
    background-position: center;
    animation: scale-in 3s ease-in-out backwards;
    animation-delay: 1.5s;
}

.portrait-cutout-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
    background-image: url("../assets/cutout-2-quarter.png");
    background-size: cover;
    background-position: center;
    animation: scale-in 3s ease-in-out backwards;
    animation-delay: 2s;
}

.portrait-cutout-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-image: url("../assets/cutout-3-quarter.png");
    background-size: cover;
    background-position: center;
    animation: scale-in 3s ease-in-out backwards;
    animation-delay: 2.5s;
}

.portrait-cutout-4 {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    background-image: url("../assets/cutout-4-quarter.png");
    background-size: cover;
    background-position: center;
    animation: scale-in 3s ease-in-out backwards;
    animation-delay: 3s;
}

/* Hero Text */
.hero-text {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.hero-text img{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
}

.hero-text iframe{
    width: 100%;
    aspect-ratio: 16/9;
    margin: 1rem;
    padding: 0;
    border: 0;
    border-radius: 2rem;
}

@media (min-width: 1080px) {
    .hero-text {
        width: 40%;
        margin: 0;
        padding: 1rem;
    }

    .hero-text img{
        width: 100%;
        margin-bottom: 1rem;
        padding: 0;
    }

    .hero-text iframe{
        width: 80%;
        aspect-ratio: 16/9;
        margin: 1rem;
        padding: 0;
        border: 0;
        border-radius: 2rem;
    }
}

/* Footer */
#footer {
    background-color: #656565;
    color: #d4d4d4;
}

#footer a {
    color: #931324;
}